body{background: #f7c6d0;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}
button{
    background-color:#ffffff;
    color:#d45b78;
    border: none;
    padding: 15px 40px;
    border-radius: 35px;
    font-size: 21px;
    cursor: crosshair;}